body{
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.side-nav{
    text-align: center;

}
.logo{
    text-align: center;
}
.side-nav image{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 10px;
}
.side-nav a{
    color: rgb(255, 255, 255);
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
}